body {
  font-family: sans-serif;
}

h1 {
  color: blue;
}

.different-color code {
  color: green;
}

code {
  color: red;
  font-family: monospace;
}

ol li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div li {
  background-color: black;
  color: white;
}
