@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark-color: #1f2937;
  --secondary-gray-color: #f1f5f9;
  --font-color: #212b36;
  --p-color: #728289;
  --purple-hover: #4e3ccc;
  --purple-link: #624bff;
  --light-purple: #b1a5ff;
  --white: white;
  --black: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
}


