<div ng-controller="homeController as user">
  <form ng-submit="home.onLogin()" name="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        ng-model="user.email"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        required
      />
      <p ng-show="ngForm.email.$error.required" style="color: red">
        Inserisci email valida
      </p>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        ng-minlength="5"
        ng-model="user.password"
        required
      />
      <p ng-show="ngForm.password.$invalid" style="color: red">
        Inserisci password valida
      </p>
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        name="check"
        required
      />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <input class="btn btn-primary" value="Send" type="submit" />
  </form>
</div>
