@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  /* primary */
  --lightRed: hsl(0, 100%, 67%);
  --orangeyYellow: hsl(39, 100%, 56%);
  --greenTeal: hsl(166, 100%, 37%);
  --cobaltBlue: hsl(234, 85%, 45%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --paleBlue: hsl(221, 100%, 96%);
  --lightLavander: hsl(241, 100%, 89%);
  --darkGrayBlue: hsl(224, 30%, 27%);
}

.text-paleBlue {
  color: var(--paleBlue);
}

.bg-purple {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.circle-purple {
  background: radial-gradient(
    circle,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

@media (min-width: 1400px) {
}
