<div class="card p-3">
  <form ng-submit="login()">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            ng-model="user.email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            ng-model="user.password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
      </div>
      <div ng-show="error" class="text-danger text-center">{{ error }}</div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <input type="submit" class="btn btn-primary w-100" value="Login" />
        <div>
          <p>
            <a href="#!/signin" class="text-decoration-none fw-bold"
              >Non sei registrato?</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="mb-3 form-check">
      <input
        ng-model="isAdmin"
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
      />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
  </form>
</div>
