@import url("../../index.css");
/* .container {
  width: fit-content !important;
} */

.container-login {
  background-color: var(--secondary-gray-color);
}

label {
  color: var(--font-color);
}

p {
  color: var(--p-color);
  line-height: 1.2;
}

input[type="checkbox"]:checked {
  background-color: var(--light-purple);
}

.mt-0 {
  margin-top: 0.5rem !important;
}
