main {
  padding-top: 55px;
}

.background {
  background: url("../img/plans-background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.package-section {
  padding: 40px;
  margin: 16px 0;
  width: 80%;
  border: 5px solid #0e4f1f;
  border-left: none;
  position: relative;
}

.package-section:hover,
.package-section:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff0000;
}

.package-section a {
  text-decoration: none;
  display: block;
  color: black;
}

.package-badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 12px;
  color: white;
  background-color: #ff5454;
  padding: 8px;
}

.package-subtitle {
  color: #979797;
}

.package-text {
  background-color: white;
  border: #0e4f1f 1px solid;
  padding: 16px;
  font-size: 20px;
  color: #0e4f1f;
}

#middle-green {
  background-color: #cff7d8;
}

#dark-green {
  background-color: #0e4f1f;
}

#dark-green .package-title {
  color: white;
}

#dark-green .package-subtitle {
  color: #bbb;
}

#light-green {
  background-color: #e8f8ec;
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}

#light-green:hover,
#light-green:active {
  border-color: #ff0000;
}

.clearfix {
  clear: both;
}
